extends layout

block content
    h1= title
    if error != ''
        h2= error

    form(name="auth_form" action="/auth", method="POST")

        p
            label Email
            input(type="text", name="email")
        p
            label Password
            input(type="password", name="password")
        input(type="submit", value="send")