extends layout

block content
    if channel.group != null
        h2= id
        form(action="/channels/#{channel.id}/edit", method="POST")
            p
                label Channel Name
                input(type="text", name="name", value="#{channel.name}")
            p
                label Description
                textarea(name="description", rows="10", cols="40")= channel.description
            input.btn(type="submit", value="Save")
    else
        h1 You do not have permissions
