doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='utf-8')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/client.js')

  body
      block content
      block footer
          include footer

