extends layout

block content
    include menu

    h2 Creating new channel
    form(name="new_channel_form" action="/channels/new", method="POST")

        p
            label Name
            input(type="text", name="name")
        p
            label Description
            textarea(name="description", rows="10", cols="40")
        input.btn(type="submit", value="Create New Channel")