extends layout

block content
    include menu

    h1 Creating new channel
    .channel-more-page

        form.channel-form(name="new_channel_form" action="/channels/new", method="POST")

            p
                label.title Name
                input(type="text", name="name", required)
            p
                label.title Description
                textarea(name="description", rows="10", cols="40", required)
            input.btn(type="submit", value="Create New Channel")