extends layout

block content
    .page-title
        h1 Register
        if error != ''
            h2= error
    form.auth-form(action="/register", method="POST")
        p
            label Email
            input(type="email", name="email", required, placeholder='Your email')
        p
            label Password
            input(type="password", name="password", required, id="pass", placeholder='Your password', pattern=".{5,}")
        p
            label Confirm Password
            input(type="password", required, id="confirm-pass", placeholder='Confirm your password', pattern=".{5,}")
        input(type="submit", value="Register", id="reg-btn", disabled)
        a(href="/auth") Sign In