extends layout

block content
    include menu

    .search-page
            .search-inputs
                label.title Name
                input#search(type="text")
                .btn.search-btn Find Channels

        .channels